

@media only screen and (max-width: 480px) {
    body {
        background-color: #fcbad3;
    }
    h1 {
        font-size: small;
    }
    p {
        font-size: x-small;
    }
    div.container {
        display: flex;
        flex-direction: column;
        width: auto;
    }
}
  
@media only screen and (min-width: 480px) and (max-width: 1024px) {
    body {
      background-color: #aa96da;
    }
    h1 {
        font-size: large;
    }
    p {
        font-size: medium;
    }

    div.container {
        display: flex;
        flex-direction: row;
        width: auto;
    }
    #small {
        width: 60%;
    }
    #medium {
        width: 30%;
    }
    #large {
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {
      body {
          background-color: #a8d8ea;
      }

      div.container {
          display: flex;
          flex-direction: row;
          width: auto;
      }
      h1 {
        font-size: xx-large;
    }
      p {
          font-size: x-large;
      }
}